{:paths   ["src"]

 :deps    {org.clojure/clojurescript {:mvn/version "1.12.145"}
           reagent/reagent           {:mvn/version "2.0.1"}
           re-frame/re-frame         {:mvn/version "1.4.7"}}

 :aliases {:dev   {:extra-paths ["test" "dev"]
                   :extra-deps  {ch.qos.logback/logback-classic {:mvn/version "1.5.18"}}}

           :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                                slipset/deps-deploy           {:mvn/version "0.2.2"}}
                   :ns-default build}

           :codox {:replace-paths ["src"]
                   :extra-deps    {codox/codox {:mvn/version "0.10.8"}}
                   :project       {}
                   :exec-fn       codox.main/generate-docs
                   :exec-args     {:source-paths ["src"]
                                   :name         "Cartoj"
                                   :version      "0.3.0"
                                   :description  "Clojurescript reagant components for interactive maps backed by MapLibre and react-map-gl."
                                   :output-path  "docs"
                                   :language     :clojurescript}}}}
